<div class="flex items-end gap-2">
  <iconify-icon icon="mdi:github" width="24" height="24"></iconify-icon>
  <span class="text-sm">
    Connected as <b><%= JSON.parse(provider.auth)["info"]["nickname"] %></b>
  </span>
</div>