<div class="bg-gray-900 text-gray-100 rounded-lg shadow-lg" data-controller="logs">
  <div
    class="overflow-auto h-96 bg-gray-800 p-2 rounded"
    data-logs-target="container"
    id="<%= dom_id(loggable, :logs) %>"
  >
    <% loggable.log_outputs.order(created_at: :asc).each do |log_output| %>
      <%= render "log_outputs/log_line", log_output: log_output %>
    <% end %>
    <% if loggable.log_outputs.empty? %>
      <pre class="text-sm font-mono whitespace-pre-wrap">Your logs will appear here...</pre>
    <% end %>
  </div>
</div>

<%= turbo_stream_from dom_id(loggable, :logs) %>
