<div class="px-4" style="border-right: 1px solid #e0e0e0;">
  <% @builds_count = Build.where(created_at: time_period.ago.., status: :completed).count.to_f %>
  <% @total_builds_count = Build.where(created_at: time_period.ago..).count.to_f %>
  <% @build_success_rate = @builds_count > 0 ? @builds_count / @total_builds_count * 100 : 0 %>
  <p class="text-sm text-gray-500 mb-2">Build success rate</p>
  <p class="text-2xl font-bold"><%= @build_success_rate.to_i %>% <span class="text-sm text-gray-500">(<%= @builds_count.to_i %> / <%= @total_builds_count.to_i %>)</span></p>
</div>