<div class="card-form hidden card-digitalocean space-y-4">
  <div>1. Create an account or login to <a href="https://cloud.digitalocean.com" target="_blank">DigitalOcean</a></div>
  <div>2. Create a new <a href="https://cloud.digitalocean.com/kubernetes/clusters/new" target="_blank">Kubernetes cluster</a></div>
  <div class="ml-6">
    <a href="https://cloud.digitalocean.com/kubernetes/clusters/new" target="_blank">
      <img src="/images/instructions/digitalocean-create-button.png" class="rounded-3xl w-[300px]" />
    </a>
  </div>
  <div>3. Download the kubeconfig and upload it below</div>
  <div class="ml-6">
    <img src="/images/instructions/digitalocean-download-button.png" class="rounded-3xl w-[300px]" />
  </div>
</div>
