<div class="card-form hidden card-linode space-y-4">
  <div>1. Create an account or login to <a href="https://cloud.linode.com" target="_blank">Linode</a></div>
  <div>2. Create a new <a href="https://cloud.linode.com/kubernetes/create" target="_blank">Kubernetes cluster</a></div>
  <div class="ml-6">
    <a href="https://cloud.linode.com/kubernetes/create" target="_blank">
      <img src="/images/instructions/linode-create-button.png" class="rounded-3xl w-[300px]" />
    </a>
  </div>
  <div>3. Download the Kubeconfig and upload it below</div>
  <div class="ml-6">
    <img src="/images/instructions/linode-download-button.png" class="rounded-3xl w-[300px]" />
  </div>
</div>