<div class="container mx-auto p-4">
  <div class="my-8">
    <h1>Connect to a cloud provider</h1>

    <%= button_to t("oauth.sign_in_with", provider: t("oauth.digitalocean")), omniauth_authorize_path(:user, :digitalocean), class: "btn btn-primary m-1", data: { turbo: false, disable_with: "Loading..." } %>
  </div>
</div>
