<dialog aria-label="Modal" class="modal" id="click_outside_modal">
  <div class="modal-box w-11/12 max-w-5xl bg-base-300">
    <form method="dialog">
      <button aria-label="Close modal" class="btn btn-circle btn-ghost btn-sm absolute right-2 top-2">
        <iconify-icon icon="lucide:x" height="16"></iconify-icon>
      </button>
    </form>
    <div class="mb-8 w-full text-xl font-bold">Run this command to connect to your pod</div>
    <div class="my-4">
      <h4 class="font-bold mb-2">Step 1: Download your Kubeconfig file</h4>
      <%= link_to(
        "Download Kubeconfig",
        download_kubeconfig_cluster_path(cluster),
        class: "btn btn-sm btn-outline",
        target: "_blank"
      ) %>
    </div>

    <div class="my-4">
      <h4 class="font-bold mb-2">Step 2: Run the command</h4>
      <code
        class="hover:cursor-pointer tooltip tooltip-secondary"
        data-tip="Click to copy"
        data-action="click->processes#copyToClick"
        >
        <pre data-processes-target="command"></pre>
      </code>
    </div>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>