<%= project_layout(@project) do %>
  <div data-controller="processes">
    <%= render "projects/processes/connect_modal", cluster: @project.cluster %>
    <div class="mb-4">
      <h3 class="text-lg font-medium">Processes</h3>
      <%= button_to project_processes_path(@project), method: :post, class: "btn btn-sm btn-primary" do %>
        <iconify-icon icon="ic:baseline-plus"></iconify-icon>
        Create One-Off Pod
      <% end %>
      <div class="help-text mt-2">
        One-off pods are useful for running a single instance of a pod for a short period of time, so you can test something or run a command that doesn't need to be permanent.
      </div>
    </div>
    <%= render(
      "shared/partials/async_renderer",
      view_model: Async::Projects::Processes::IndexViewModel.new(
        current_user,
        project_id: @project.id
      )
    ) %>
  </div>
<% end %>