<div id="<%= dom_id cluster %>">
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Name</p>
    <%= cluster.name %>
    <%= render "log_outputs/logs", loggable: cluster %>
  </div>
  Projects:
  <br/>
  <% cluster.projects.each do |project| %>
    <%= render project %>
  <% end %>
</div>
