<div class="overflow-auto">
  <table class="table mt-2 rounded-box" id="shop_table" data-component="table">
    <thead>
      <tr>
        <th>
          <span class="text-sm font-medium text-base-content/80">Name</span>
        </th>
        <th>
          <span class="text-sm font-medium text-base-content/80">Status</span>
        </th>
        <th>
          <span class="text-sm font-medium text-base-content/80">Created</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <% clusters.each do |cluster| %>
        <tr class="cursor-pointer hover:bg-base-200/40">
          <td>
            <div class="font-medium"><%= link_to cluster.name, cluster, class: "text-inherit hover:underline" %></div>
          </td>
          <td>
            <div class="font-medium"><%= cluster.status %></div>
          </td>
          <td>
            <div><%= time_ago_in_words(cluster.created_at) %> ago</div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
        