<div class="tabs tabs-bordered" role="tablist">
  <%= link_to cluster_path(cluster), class: "tab hover:bg-base-content/15 #{'tab-active' if current_page?(cluster_path(cluster))}" do %>
    <div class="flex items-center gap-2">
      General
      <iconify-icon icon="lucide:boxes"></iconify-icon>
    </div>
  <% end %>
  <%= link_to logs_cluster_path(cluster), class: "tab hover:bg-base-content/15 #{'tab-active' if current_page?(logs_cluster_path(cluster))}" do %>
    <div class="flex items-center gap-2">
      Logs
      <iconify-icon icon="lucide:file-text"></iconify-icon>
    </div>
  <% end %>
  <%= link_to cluster_metrics_path(cluster), class: "tab hover:bg-base-content/15 #{'tab-active' if current_page?(cluster_metrics_path(cluster))}" do %>
    <div class="flex items-center gap-2">
      Metrics
      <iconify-icon icon="lucide:chart-line"></iconify-icon>
    </div>
  <% end %>

  <%= link_to edit_cluster_path(cluster), class: "tab hover:bg-base-content/15 #{'tab-active' if current_page?(edit_cluster_path(cluster))}" do %>
    <div class="flex items-center gap-2">
      Settings
      <iconify-icon icon="lucide:settings"></iconify-icon>
    </div>
  <% end %>
</div>
