<%
  badge_color = case cluster.status
  when "initializing"
    "warning"
  when "installing"
    "warning"
  when "running"
    "success"
  when "failed"
    "error"
  end
%>
<div aria-label="Badge" class="badge border-0 bg-<%= badge_color %>/10 font-medium capitalize text-<%= badge_color %>">
  <%= cluster.status %>
</div>