<div class="container mx-auto px-4 py-8">
  Run any kubectl command here

  <div data-controller="shell" class="bg-white w-full" data-shell-cluster-id-value="<%= @cluster.id %>">
    <div data-shell-target="terminal" class="w-full h-full">
    </div>
  </div>
</div>