<footer aria-labelledby="footer-heading" class="relative">
  <h2 id="footer-heading" class="sr-only">Footer</h2>
  <div class="mx-auto max-w-7xl px-6 pb-8 pt-4 lg:px-8">
    <div class="border-t border-white/10 pt-8 md:flex md:items-center md:justify-between">
      <div class="flex space-x-4 md:order-2">
        <a href="https://github.com/czhu12/canine" class="text-gray-400 hover:text-gray-500">
          <span class="sr-only">GitHub</span>
          <iconify-icon icon="simple-icons:github" height="24"></iconify-icon>
        </a>
        <a href="https://discord.gg/FpVHQDTQ" class="text-gray-400 hover:text-gray-500">
          <span class="sr-only">Discord</span>
          <iconify-icon icon="skill-icons:discord" height="24"></iconify-icon>
        </a>
      </div>
      <p class="mt-8 text-xs leading-5 text-gray-400 md:order-1 md:mt-0">© 2024 Canine, Inc. MIT License.</p>
    </div>
  </div>
</footer>