<div class="relative isolate overflow-hidden">
  <svg class="absolute inset-0 -z-10 h-full w-full stroke-white/10 [mask-image:radial-gradient(100%_100%_at_top_right,white,transparent)]" aria-hidden="true">
    <defs>
      <pattern id="983e3e4c-de6d-4c3f-8d64-b9761d1534cc" width="200" height="200" x="50%" y="-1" patternUnits="userSpaceOnUse">
        <path d="M.5 200V.5H200" fill="none"></path>
      </pattern>
    </defs>
    <svg x="50%" y="-1" class="overflow-visible fill-gray-800/20">
      <path d="M-200 0h201v201h-201Z M600 0h201v201h-201Z M-400 600h201v201h-201Z M200 800h201v201h-201Z" stroke-width="0"></path>
    </svg>
    <rect width="100%" height="100%" stroke-width="0" fill="url(#983e3e4c-de6d-4c3f-8d64-b9761d1534cc)"></rect>
  </svg>
  <div class="absolute left-[calc(50%-4rem)] top-10 -z-10 transform-gpu blur-3xl sm:left-[calc(50%-18rem)] lg:left-48 lg:top-[calc(50%-30rem)] xl:left-[calc(50%-24rem)]" aria-hidden="true">
    <div class="aspect-[1108/632] w-[69.25rem] bg-gradient-to-r from-[#80caff] to-[#4f46e5] opacity-20" style="clip-path: polygon(73.6% 51.7%, 91.7% 11.8%, 100% 46.4%, 97.4% 82.2%, 92.5% 84.9%, 75.7% 64%, 55.3% 47.5%, 46.5% 49.4%, 45% 62.9%, 50.3% 87.2%, 21.3% 64.1%, 0.1% 100%, 5.4% 51.1%, 21.4% 63.9%, 58.9% 0.2%, 73.6% 51.7%)"></div>
  </div>
  <div class="mx-auto max-w-7xl px-6 pb-24 pt-2 sm:pb-40 lg:flex lg:px-8 lg:pt-4 justify-center">
    <div class="mx-auto max-w-2xl flex-shrink-0 lg:mx-0 lg:max-w-4xl lg:pt-2">
      <div class="mb-6 lg:mb-24">
        <%= link_to "https://discord.gg/68YthskqEz", class: "btn btn-ghost btn-sm lg:btn-md" do %>
          <span class="lg:inline">Join us on Discord</span> <iconify-icon icon="skill-icons:discord" height="20"></iconify-icon>
        <% end %>
      </div>
      <img class="h-[70px]" src="/images/logo-full.png" alt="Canine">
      <h1 class="mt-10 text-4xl font-bold tracking-tight text-white sm:text-6xl">A modern, open source alternative to Heroku</h1>
      <p class="mt-6 text-lg leading-8 text-gray-300">Canine is an open source deployment platform that makes it easy to deploy and manage your applications.</p>
      <div class="mt-10 flex items-center gap-x-6">
        <%= link_to "Get started", new_user_registration_path, class: "rounded-md bg-indigo-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-400" %>
        <%= link_to "https://canine.gitbook.io/canine.sh", class: "text-sm font-semibold leading-6 text-white" do %>
          See the docs <span aria-hidden="true">→</span>
        <% end %>
      </div>
      <div class="mt-4 text-sm text-gray-300">
        (No credit card required. <span class="font-bold">Ever.</span>)
      </div>
      <%= render "static/landing_page/product_hunt" %>
    </div>
  </div>
  <div class="mx-auto max-w-7xl px-6 pb-8 pt-2 sm:pb-20 lg:flex lg:px-8 lg:pt-4 justify-center">
    <iframe
      class="!w-full rounded-md bg-white/5 shadow-2xl ring-1 ring-white/10 youtube-aspect"
      src="https://www.youtube.com/embed/2m2osV-eBE4?si=-HcGofV7J6nrLke_"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen></iframe>
  </div>
</div>
