
	<!-- 
  https://codepen.io/robstinson/pen/ZEpKvjM
	-->
	
	<!-- Component Start -->
	<div class="flex flex-col w-full items-center rounded-lg shadow-xl">
    <!-- Needed to make sure tailwind generates the styles for the background colors -->
    <div class="bg-indigo-400 bg-green-400"></div>
		<h2 class="text-xl font-bold">Monthly cost of running a 4GB app</h2>
		<div class="flex items-end flex-grow w-full mt-12 space-x-2 sm:space-x-3">
      <% StaticController::PRICES.each do |price| %>
        <div class="relative flex flex-col items-center flex-grow pb-5 group">
          <span class="absolute top-0 -mt-8 font-bold block">$<%= price[:price] %></span>
          <div class="relative flex justify-center w-full <%= price[:style] %>" style="height: <%= price[:price] %>px"></div>
          <span class="absolute bottom-[-5px] text-sm font-semibold"><%= price[:name] %></span>
        </div>
      <% end %>
		</div>
	</div>
	<!-- Component End  -->
	