<div class="mx-auto mt-8 max-w-7xl px-6 sm:mt-16 lg:px-8">
  <dl class="flex flex-col items-center text-center mx-auto max-w-2xl gap-x-8 gap-y-10 text-white sm:grid-cols-2 sm:gap-y-16 lg:mx-0 lg:max-w-none">
    <div class="mx-auto lg:mx-0">
      <h2 class="text-base font-semibold leading-8 text-indigo-400">Hosting costs are out of control</h2>
      <p class="mt-2 text-3xl font-bold tracking-tight text-white sm:text-4xl">Break free from expensive vendors</p>
      <p class="mt-6 text-lg leading-8 text-gray-300">Computing is getting cheaper, so why is hosting getting more expensive? Canine makes cheap hosting providers as easy to use as expensive ones.</p>
    </div>
    <div class="w-full">
      <%= render "static/landing_page/pricing_chart" %>
    </div>
    <div>
      <%= link_to "Explore our pricing calculator →", calculator_path, class: "text-indigo-400 hover:text-indigo-300" %>
    </div>
  </dl>
</div>