  <h4>Custom Domains</h4>

  <%= form.fields_for :domains, service.domains.new do |domain_form|  %>
    <div class="flex gap-2">
      <%= domain_form.text_field :domain_name, class: "input input-bordered" %>
    </div>
  <% end %>
  <%= form.submit "Add Domain", class: "btn btn-primary" %>

  <h5 class="my-4">Make sure to configure domains with the following DNS records</h5>
  <div id="domain-list">
    <%= render partial: "projects/services/domains/list", locals: { project: service.project } %>
  </div>
