<table class="table">
  <thead>
    <tr>
      <th>Domain</th>
      <th>A Record</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% project.domains.each do |domain| %>
      <tr id="<%= dom_id(domain) %>">
        <td><%= link_to domain.domain_name, "https://#{domain.domain_name}", target: "_blank" %></td>
        <td><pre class="code"><%= K8::Stateless::Ingress.new(domain.service).ip_address %></pre></td>
        <td>
          <%= link_to "Remove",
              project_service_domain_path(
                project,
                domain.service,
                domain
              ),
              method: :destroy,
              class: "btn btn-sm btn-ghost"
            %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
