<div class="mt-8">
  <%= render "clusters/metrics/search", cluster:, search_path: cluster_metrics_path(cluster) %>

  <div class="flex flex-row gap-4 mt-8">
    <%= render(
      "shared/charts/chart",
      config: {
        data: parse_cpu_metrics(@metrics)
      },
    ) %>

    <%= render(
      "shared/charts/chart",
      config: {
        data: parse_memory_metrics(@metrics)
      },
    ) %>
  </div>
</div>