<div>
  <div class="flex space-x-2">
    <div class="badge badge-success">• LIVE</div>
    <div class="text-sm text-gray-500">
      Updated at: <%= Time.now.strftime("%H:%M:%S") %>
    </div>
  </div>
  <%= render(
    "shared/partials/async_renderer",
    view_model: Async::K8::NodesViewModel.new(
      current_user,
      cluster_id: @cluster.id
    )
  ) %>
</div>
