<h4>Redis</h4>
<div>

  <h5>Volumes</h5>
  <% @service.storage_metrics.each do |metric| %>
    <div><pre><%= metric[:name] %></pre></div>
    <div><strong><%= metric[:usage][:use_percentage] %>%</strong> used out of <strong><%= standardize_size(metric[:usage][:available]) %>B</strong></div>
    <progress class="progress w-56" value="<%= metric[:usage][:use_percentage] %>" max="100"></progress>
  <% end %>
</div>