<nav class="w-64 p-4">
  <ul class="space-y-2 list-none">
    <li><%= link_to "Info", add_on_url(add_on), class: "block py-2 px-4 hover:bg-neutral rounded" %></li>
    <li><%= link_to "Logs", logs_add_on_url(add_on), class: "block py-2 px-4 hover:bg-neutral rounded" %></li>
    <li><%= link_to "Settings", edit_add_on_url(add_on), class: "block py-2 px-4 hover:bg-neutral rounded" %></li>
  </ul>
</nav>