<%
  badge_color = if add_on.installed? 
  "success" 
  elsif add_on.failed?
  "error"
  else
   'warning'
  end
%>
<div aria-label="Badge" class="badge border-0 bg-<%= badge_color %>/10 font-medium capitalize text-<%= badge_color %>">
  <%= add_on.status.humanize %>
</div>
