<table class="table">
  <thead>
    <tr>
      <th>DOMAIN</th>
      <th>A RECORD</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% project.domains.each do |domain| %>
      <tr id="<%= dom_id(domain) %>">
        <td><%= link_to domain.domain_name, "https://#{domain.domain_name}", target: "_blank" %></td>
        <td><pre class="code">128.93.3.1</pre></td>
        <td>
          <%= button_to "Remove", project_domain_path(project, domain), method: :delete, class: "btn btn-sm btn-ghost", data: { turbo_frame: "domains" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>