<footer>
  <div class="mx-auto max-w-7xl px-6 py-12 md:flex md:items-center md:justify-between lg:px-8">
    <div class="flex justify-center space-x-6 md:order-2">
      <a href="https://github.com/czhu12/canine" class="text-gray-400 hover:text-gray-500">
        <span class="sr-only">GitHub</span>
        <iconify-icon icon="simple-icons:github" height="24"></iconify-icon>
      </a>
      <a href="https://discord.gg/68YthskqEz" class="text-gray-400 hover:text-gray-500">
        <span class="sr-only">Discord</span>
        <iconify-icon icon="skill-icons:discord" height="24"></iconify-icon>
      </a>
    </div>
    <div class="mt-8 md:order-1 md:mt-0">
      <p class="text-center text-xs leading-5 text-gray-500">© 2024 Canine, Inc. All rights reserved.</p>
    </div>
  </div>
</footer>
