<%# Place any links for the LEFT side of the nav bar here. Be sure to add class: "nav-link" to each item for proper spacing. %>
<div class="navbar-start gap-3">
  <button aria-label="Leftmenu toggle" data-action="leftbar-toggle" class="btn btn-square btn-ghost btn-sm">
    <iconify-icon icon="lucide:menu" height="20"></iconify-icon>
  </button>
  <!--  End: Left Menu Toggle -->
</div>