<div class="ml-auto">
  <div class="dropdown ml-auto dropdown-end dropdown-bottom">
    <label tabindex="0" class="btn btn-ghost rounded-btn px-1.5 hover:bg-base-content/20">
      <div aria-label="Avatar photo" class="avatar">
        <div class="mask mask-squircle" style="width: 30px; height: 30px">
          <%= image_tag avatar_path(current_user, size: 40) %>
        </div>
      </div>
    </label>
    <ul class="menu dropdown-content mt-4 w-52 rounded-box bg-base-100 p-2 shadow">
      <% if Rails.application.config.local_mode %>
        <%= render "shared/local_right_nav" %>
      <% else %>
        <%= render "shared/default_right_nav" %>
      <% end %>
    </ul>
  </div>
</div>
