<!--  Start: Search Button -->
<button aria-label="Search button" onclick="search_modal.showModal()" class="btn btn-outline btn-sm hidden h-9 w-48 items-center justify-start gap-3 border-base-content/20 hover:border-transparent hover:bg-base-content/20 sm:flex">
  <iconify-icon icon="lucide:search" height="16" class="text-base-content/60"></iconify-icon>
  <span class="text-base-content/60">Search</span>
</button>
<!--  End: Search Button -->
<button aria-label="Search button" onclick="search_modal.showModal()" class="btn btn-circle btn-outline btn-sm flex border-base-content/20 hover:border-transparent hover:bg-base-content/20 sm:hidden">
  <iconify-icon icon="lucide:search" height="16" class="text-base-content/60"></iconify-icon>
</button>
<!--  Start: Search Modal -->
<dialog aria-label="Modal" class="modal" id="search_modal">
  <div class="modal-box p-0">
    <div class="form-control flex-row items-center rounded-box p-2 px-5">
      <iconify-icon icon="lucide:search" height="18" class="text-base-content/70"></iconify-icon>
      <input placeholder="Search along files" class="input input-sm w-full text-base focus:border-transparent focus:outline-0 focus:outline-offset-0">
      <form method="dialog">
        <button aria-label="Close search modal" class="btn btn-circle btn-ghost btn-sm gap-2">
          <iconify-icon icon="lucide:x" height="16"></iconify-icon>
        </button>
      </form>
    </div>
    <div class="border-t border-base-content/10">
      <ul class="menu">
        <li class="menu-title">Actions</li>
        <li class="">
          <div>
            <iconify-icon icon="lucide:folder-plus" height="18"></iconify-icon>
            <p class="grow text-sm">Create a new folder</p>
          </div>
        </li>
        <li class="">
          <div>
            <iconify-icon icon="lucide:file-plus" height="18"></iconify-icon>
            <p class="grow text-sm">Upload new document</p>
          </div>
        </li>
        <li class="">
          <div>
            <iconify-icon icon="lucide:user-plus" height="18"></iconify-icon>
            <p class="grow text-sm">Invite to project</p>
          </div>
        </li>
        <hr class="-mx-2 mt-3 h-px border-base-content/10">
        <li class="menu-title">Quick Links</li>
        <li class="">
          <div>
            <iconify-icon icon="lucide:folders" height="18"></iconify-icon>
            <p class="grow text-sm">File Manager</p>
          </div>
        </li>
        <li class="">
          <div>
            <iconify-icon icon="lucide:user" height="18"></iconify-icon>
            <p class="grow text-sm">Profile</p>
          </div>
        </li>
        <li class="">
          <div>
            <iconify-icon icon="lucide:layout-dashboard" height="18"></iconify-icon>
            <p class="grow text-sm">Dashboard</p>
          </div>
        </li>
        <li class="">
          <div>
            <iconify-icon icon="lucide:help-circle" height="18"></iconify-icon>
            <p class="grow text-sm">Support</p>
          </div>
        </li>
        <li class="">
          <div>
            <iconify-icon icon="lucide:keyboard" height="18"></iconify-icon>
            <p class="grow text-sm">Keyboard Shortcuts</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>