<div class="flex flex-col">
  <div class="p-10">
    <h1 class="text-2xl font-bold">Missing Credentials for Github</h1>
    <p class="mt-2 text-gray-400">Please provide your Github credentials to continue.</p>
    <div class="flex flex-row gap-4">
      <%= link_to(
        Github::App::Client.install_url_for_user(current_user),
        class: "mt-6 btn btn-primary",
        data: { turbo: false, disable_with: t(".redirecting") },
      ) do %>
        <iconify-icon icon="mdi:github" width="24" height="24"></iconify-icon>
        Connect to Github
      <% end %>
      <%= link_to "Manually Add Credentials", providers_path, class: "mt-6 btn btn-ghost", data: { turbo: false } %>
    </div>
    <div class="mt-6">
      <%= link_to(
        "Deploy from Docker Hub instead →",
        new_project_path(provider: Provider::DOCKER_HUB_PROVIDER),
        class: "inline-block mt-2 underline underline-offset-4 text-blue-300 hover:text-blue-200 text-sm",
      ) %>
    </div>
  </div>
</div>
