<% if project.last_deployment&.in_progress? %>
  <div aria-label="Badge" class="badge border-0 bg-warning/10 font-medium capitalize text-warning">
    Deploying <iconify-icon class="ml-1 animate-spin" icon="lucide:loader-circle"></iconify-icon>
  </div>
<% else %>
  <%
    badge_color = case project.status
    when "creating"
      "warning"
    when "deployed"
      "success"
    end
  %>
  <div aria-label="Badge" class="badge border-0 bg-<%= badge_color %>/10 font-medium capitalize text-<%= badge_color %>">
    <%= project.status %>
  </div>
<% end %>