<%= content_for :title, t("scaffold.edit.title", model: "Project") %>

<%= project_layout(@project) do %>
  <div class="text-right mb-4">
    <%= button_to @project, method: :delete, class: "btn btn-secondary btn-sm", form: { data: { turbo_confirm: t("are_you_sure") } } do %>
      <iconify-icon icon="lucide:trash" height="20" class="text-error-content"></iconify-icon>
      Delete
    <% end %>
  </div>

  <%= render "form", project: @project %>
<% end %>
