<%
  badge_color = case volume.status
  when "pending"
    "warning"
  when "deployed"
    "success"
  when "failed"
    "error"
  end
%>
<div aria-label="Badge" class="badge border-0 bg-<%= badge_color %>/10 font-medium capitalize text-<%= badge_color %>">
  <%= volume.status %>
</div>
