<div class="container mx-auto mt-8">
  <div class="prose-lg container mx-auto">
    <h1>Why do we exist?</h1>
    In a previous start up, I saw first hand how the cost of hosting a web app could explode over time.
    <br />
    What was weird was that costs grew with organizational complexity, not compute complexity, and often in area's I never expected.
    <br />
    As it turns out, the cost you pay to host <b>your app</b> is only a fraction of the total IT spend.
    <br />
  </div>
</div>
