<div
  class="cursor-pointer card w-64 bg-base-200"
  data-card-name="digitalocean"
  data-action="click->card-select#selectCard"
  data-card-select-target="card"
>
  <div class="card-body">
    <iconify-icon icon="devicon:digitalocean" height="2.5rem" width="2.5rem"></iconify-icon>
    <h2 class="card-title">Digital Ocean</h2>
    <div class="space-y-2 text-sm text-gray-400">
      <div class="flex items-center gap-2">
        <iconify-icon icon="lucide:dollar-sign" class="w-4 h-4"></iconify-icon>
        <span>$24 / month</span>
      </div>
      <div class="flex items-center gap-2">
        <iconify-icon icon="lucide:memory-stick" class="w-4 h-4"></iconify-icon>
        <span>4GB RAM</span>
      </div>
      <div class="flex items-center gap-2">
        <iconify-icon icon="lucide:cpu" class="w-4 h-4"></iconify-icon>
        <span>2 CPU</span>
      </div>
      <div class="flex items-center gap-2">
        <iconify-icon icon="lucide:hard-drive" class="w-4 h-4"></iconify-icon>
        <span>80GB SSD</span>
      </div>
    </div>
  </div>
</div>