<div
  class="cursor-pointer card w-64 bg-base-300"
  data-card-name="other"
  data-action="click->new-add-ons#selectCard"
  data-new-add-ons-target="card"
>
  <div class="card-body">
    <iconify-icon icon="devicon:kubernetes" height="2.5rem" width="2.5rem"></iconify-icon>
    <h2 class="card-title">Other</h2>
    <div class="space-y-2 text-sm text-gray-400">
      Canine can work with any Kubernetes hosting service.
    </div>
  </div>
</div>