<%= add_on_layout(@add_on) do %>
  <div data-controller="processes">
    <%= render "projects/processes/connect_modal", cluster: @add_on.cluster %>
    <div class="mb-4">
      <h3 class="text-lg font-medium">Processes</h3>
    </div>

    <%= render(
      "shared/partials/async_renderer",
      view_model: Async::AddOns::Processes::PodsViewModel.new(
        current_account,
        add_on_id: @add_on.id,
      )
    ) %>
  </div>
<% end %>
