div.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  border-width: 1px;
  padding-top: .5rem;
  padding-right: .75rem;
  padding-bottom: .5rem;
  padding-left: .75rem;
  font-size: 1rem;
  line-height: 1.5rem;
}

.form-control {
  @apply input input-bordered w-full;
}

.form-group {
  @apply my-4;
}

.form-checkbox {
  @apply checkbox checkbox-primary;
}