.help-text {
  @apply text-sm text-base-content/80 italic;
}

@keyframes click-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

.animate-click {
  animation: click-animation 300ms ease-in-out;
}

.prose-lg th {
  @apply text-left;
}
.has-styled-links a {
  @apply link;
}

.prose-lg a {
  @apply link underline-offset-4;
}

.search-highlight {
  text-decoration: underline;
  display: inline;
}

.simplebar-wrapper {
  overflow: auto;
  width: inherit;
  height: inherit;
  max-width: inherit;
  max-height: inherit;
}

.input.error {
  @apply input-error;
}

.input.success {
  @apply input-success;
}

.form-hint {
  @apply text-sm;
}

.form-hint.error {
  @apply text-error;
}

.form-hint.success {
  @apply text-success;
}

.code {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Vazirmatn, Courier New, monospace;
}

.youtube-aspect {
  aspect-ratio: 16 / 9;
}