.help-text {
  @apply text-sm text-base-content/80 italic;
}

@keyframes click-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

.animate-click {
  animation: click-animation 300ms ease-in-out;
}

.prose-lg th {
  @apply text-left;
}
.has-styled-links a {
  @apply link;
}

.prose-lg a {
  @apply link underline-offset-4;
}

.search-highlight {
  text-decoration: underline;
  display: inline;
}

.simplebar-wrapper {
  overflow: auto;
  width: inherit;
  height: inherit;
  max-width: inherit;
  max-height: inherit;
}