<turbo-frame id="github-repositories-frame">
  <dialog aria-label="Modal" class="modal" id="github-repositories-modal" data-github-select-repository-target="modal">
    <div class="modal-box px-6 pb-12 w-11/12 max-w-5xl bg-base-200">
      <div class="modal-action">
        <button type="button" data-action="github-select-repository#closeModal" class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
      </div>
      <div class="p-2">
        <h2 class="text-2xl font-bold mb-4">Select Repository</h2>
        <p class="mb-6">Select the repo you would like to back this service.</p>
        
        <div class="rounded-lg">
          <div class="mb-4">
            <input type="text" placeholder="Search" class="input input-bordered w-full" data-action="github-select-repository#filterRepositories" />
          </div>
          <ul
            class="space-y-2 h-64 overflow-y-auto bg-base-100"
            data-github-select-repository-target="repositoriesList"
            id="repositories-list">
            <div class="flex justify-center items-center h-full">
              <div class='loading loading-spinner loading-sm'></div>
            </div>
          </ul>
        </div>

        <div class="mt-6 p-4 rounded-lg flex flex-row gap-2 items-center">
          <h3 class="text-lg inline font-semibold mb-2">Not seeing your repository?</h3>
          <%= link_to(
            Github::App::Client.install_url_for_user(current_user),
            class: "btn btn-sm btn-outline ml-4",
            data: { turbo: false, disable_with: t(".redirecting") },
          ) do %>
            <iconify-icon icon="mdi:github" width="24" height="24"></iconify-icon>
            Connect to Github
          <% end %>
        </div>
      </div>
    </div>
  </dialog>
</turbo-frame>