<%= content_for :title, "Projects ##{@project.id}" %>
<%= turbo_stream_from @project %>

<%= project_layout(@project) do %>
  <div data-controller="shell" class="bg-white w-full" data-shell-project-id-value="<%= @project.id %>">
    <div data-shell-target="terminal" class="w-full h-full">
    </div>
  </div>
<% end %>