<!DOCTYPE html>
<html class="h-full antialiased dark" data-theme="dark" lang="en">
  <head>
    <%= render 'shared/head' %>
  </head>

   <body data-controller="theme" data-theme-preference-value="dark">
    <div class="size-full">
      <div class="flex overflow-hidden">
        <%= yield %>
      </div>
    </div>

    <%= render 'shared/footer' %>
  </body>
</html>


